.Header-Title{
    color: #555555;
    margin-left: 2.5%;
    margin-top: 1.5%;
    font-family: "Libre Franklin";
    font-weight: 700;
    font-size: 24pt;
}

.Banner {
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: white;
    border: 1px black; 

}

.Menu-Button{
    background-color: #cdedf3; /* Green */
    border: 1px;
    height: 30px;
    margin-left: 50%;
    margin-top: 1.5%;
    transition-duration: .3s;
}

.Menu-Button:hover{
    background-color: #0289ba; /* Green */
}

/*
color pallete?

Blue in epic photo: 0289ba
Gray in epic photo: 555555
white lol: ffffff
light cyan: cdedf3
middle blue: 84ccdb
*/