.Header-Title{
    color: #555555;
    margin-left: 5px;
    font-family: "Libre Franklin";
    font-weight: 700;
    font-size: 26pt;
    cursor: pointer;
}

.Banner {
    box-sizing: border-box;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: white;
    border: 1px black;
    margin-left: 5%;
    margin-right: 5%;
}

.Banner img {
  width: 142px;
  height: 72px;
  cursor: pointer;
}

.Menu-Button{
    background-color: #cdedf3; /* Green */
    border: 1px;
    height: 30px;
    margin-left: auto;
    margin-right: 10%;
    transition-duration: .3s;
}

.Menu-Button:hover{
    background-color: #0289ba; /* Green */
}

/*
color pallete?

Blue in epic photo: 0289ba
Gray in epic photo: 555555
white lol: ffffff
light cyan: cdedf3
middle blue: 84ccdb
*/
