@import '../styles/menu-button.css';

.Banner {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(83, 100, 120, .7);
    transition: 0.4s;
    padding-left: 1%;
    padding-right: 1%;
}

.Banner img {
  width: 10vw;
  height: auto;
  cursor: pointer;
  margin-top: 20%;
  transition: 0.4s;

}

.Banner .Header-Title{
  color: #ffffff;
  font-family: "Libre Franklin";
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 1;
  cursor: pointer;
  margin: auto;
  letter-spacing: 4px;
  transition: 0.4s;
}

.scrolled {
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(78, 95, 115, .7);
  transition: 0.4s;
  padding-left: 1%;
  padding-right: 1%;
}

.scrolled .Header-Title {
  color: #ffffff;
  font-family: "Libre Franklin";
  font-weight: 400;
  font-size: 2vw;
  cursor: pointer;
  margin: auto;
  transition: 0.4s;
}

.scrolled img {
  width: 6vw;
  height: auto;
  cursor: pointer;
  margin-top: 37%;
  transition: 0.4s;
}

.Header-Title-Link {
  text-decoration: none;
}

/* The side navigation menu */
#sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2.8%;
  transition: 0.5s;
  font-family: "Libre Franklin";
  white-space: nowrap;
}

/* The navigation menu links */
#sidenav a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*
color pallete?

Blue in epic photo: 0289ba
Gray in epic photo: 555555
white lol: ffffff
light cyan: cdedf3
middle blue: 84ccdb
*/
