/*
.css for section-one, section-two, and section-three of home
*/

.Section-One{
    height: auto;
    width: 100vw;
    position: relative;
}

.Section-One img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
  margin: 0;
}

.AnimatedButton {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  max-height: 10%;
  font-size: 1.5vw;
}

.Mission-Banner {
    box-sizing: border-box;
    width: 100%;
    height: 30vh;
    background-color: white;
    border: 1px black;
    color: #555555;
    font-family: "Libre Franklin";
    font-weight: 700;
    font-size: 3vw;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    line-height: 32pt;
}

.Section-Two{
    height: 75vw;
    width: 100vw;
    background-color: rgb(83, 108, 136);
    text-align: center;
    position: relative;
}
.vertical-line {
  border-left: 1px solid white;
  height: 90%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  background: transparent;
  top: 5%;
}

.mission-statement {
  height: 20%;
  width: 42.5%;
  text-align: right;
  line-height: 2;
  font-size: 2.5vw;
  position: absolute;
  left: 2%;
  top: 10%;
  color: white;
  font-family: "Libre Franklin";
  letter-spacing: .05em;
  margin-right: 10%;
}

.bold-words {
  font-weight: bold;
  color: rgb(247, 200, 162);
}

.who-we-are {
  height: 20%;
  width: 45%;
  text-align: left;
  line-height: 2;
  font-size: 2.5vw;
  position: absolute;
  left: 55%;
  top: 60%;
  color: white;
  font-family: "Libre Franklin";
  letter-spacing: .05em;
}

.section-two-img-one{
  left: 5%;
  top: 40%;
  height: 30%;
  width: 40%;
  position: absolute;
}

.section-two-img-two{
  left: 55%;
  height: 30%;
  width: 40%;
  top: 22%;
  position: absolute;
}

.section-two-img{
  object-fit: cover;
  margin: 0;
  vertical-align: bottom;
  box-shadow: 5px 5px 5px;
}

.Section-Three{
    height: 100vh;
    width: 100vw;
    background-color: rgb(83, 108, 136);
    text-align: center;
}

.box{
  display: inline-block;
  position: relative;
  width: 50%;
  background-color: rgb(255, 134, 110);
}

.box img{
  v-index: 0;
  object-fit: cover;
  margin: 0;
  vertical-align: bottom;
  transition: 0.3s;
}
.box .AnimatedButton {
  top: 60%;
}
.box:hover img{
  opacity: 20%;
}
.box:hover h3{
  display: inline-block;
}
.box:hover h4{
  display: none;
}
.box:hover .AnimatedButton{
  display: inline-block;
}
.box .AnimatedButton {
  display: none;
}
.text-box {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 60%;
  transform: translate(35%, -100%);
}
.text-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  horiz-align: center;
}
.text-box h3 {
  display: none;
  color: white;
}

.label {
  background-color: rgba(255, 134, 110, 0.7);
  position: absolute;
  top: 10%;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

