/*
.css for section-one, section-two, and section-three of home
*/

.Carousel-Container{
    height: 80vh;
    width: 100vw;
}

.Mission-Banner {
    box-sizing: border-box;
    width: 100%;
    height: 30vh;
    background-color: white;
    border: 1px black;
    color: #555555;
    font-family: "Libre Franklin";
    font-weight: 700;
    font-size: 3vw;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    line-height: 32pt;
}

.Section-Two{
    height: 100vh;
    width: 100vw;
    background-color: olive;
    text-align: center;

}

.Section-Three{
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
    text-align: center;

}
