.card {
    height: 80%;
    width: 25%;
    background: rgba(290, 150, 120);
    position: relative;
    display: inline-block;
    -webkit-transition : all 0.4s;
    -moz-transition : all 0.4s;
    transition : all 0.4s;
}

.card .hoverText{
    position: absolute;
    top: 5%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, 0%);
    color: transparent;
    -webkit-transition : all 0.2s 0s;
    -moz-transition : all 0.2s 0s;
    transition : all 0.2s 0s;
    font-family: "Libre Franklin";
    font-size: 14pt;
    letter-spacing: .05em;
}

.card .AnimatedButton {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    max-height: 12%;
    font-size: calc(10px + .5vw);
}

.card .graphic {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 60%;
    width: 100%;
    transform: translate(-50%, 0%);
}

.card .main{
    stroke: white;
    stroke-width: 5pt;
    fill: transparent;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    opacity: 1;
    -webkit-transition : all 0.4s;
    -moz-transition : all 0.4s;
    transition : all 0.4s;
    transition-timing-function: ease;
}

.card .st0{
    opacity: 1;
    stroke: white;
    stroke-width: 2.5pt;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    fill: transparent;
    -webkit-transition : all 0.4s;
    -moz-transition : all 0.4s;
    transition : all 0.4s;
    transition-timing-function: ease;
}

.card:hover{
    transform: scale(1.1, 1.1);
}

.card:hover .hoverText{
    color: white;  
    -webkit-transition : all 0.2s .4s;
    -moz-transition : all 0.2s .4s;
    transition : all 0.2s .4s;
}
.card:hover .main{
    opacity: .5;
    stroke-dashoffset: 1000;
}

.card:hover .st0{
    opacity: .5;
    stroke-dashoffset: 1000;
}





