.card {
    height: 80%;
    width: 25%;
    background: rgba(290, 150, 120);
}

.card-button {
    bottom: 10%;
    left: 50%;
    margin: 15% auto;
}

.graphic {
    margin: 5% auto;
}

.st0{
    stroke: white;
    stroke-width: 2.5pt;
    fill: transparent;
}

.cross{
    stroke: white;
    stroke-width: 5pt;
    fill: transparent;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
}

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }